version: '3.8'

services:
  app:
    image: matiashonkasalo/express-app:latest  
    container_name: express-app
    ports:
      - "8080:8080"
    restart: always

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=60   
      - WATCHTOWER_CLEANUP=true      
    restart: always

